*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 62.5%;
	line-height: 0;
	}
input{
        border: 1px solid #AAAAAA;            
}

legend {
        padding: 0.5em;            
        }
fieldset{
        padding-bottom: 10px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
}
/*#page-top-outer	{
	background: url(../images/shared/top_bg.jpg) top center repeat-x;
	border-bottom: 1px solid #7e7e7e;
	height: 92px;	
}*/
#page-top	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	position: relative;
	}
#logo{  float: left; padding-top: 4px; padding-left: 4px; width: 66px;}

#logo	a	{
	display: block;
	}
#top-search	{
	display: inline;
	float: right;
	position: relative;
	margin: 46px 20px 0 0;
	z-index: 20;
	}
	
 
.top-search-inp	{
	background: url(../images/shared/top_search_inp.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	height: 23px;
	padding: 6px 6px 0 10px;
	width: 164px;
	}
#content-outer	{
	/*background: url(../images/shared/content_repeat.jpg) repeat-x;*/
	}
#content	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	max-width: 1260px;
	min-width: 780px;
	padding: 10px 0px 5px 0px;
	
	}
	
#content-inner	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
	}
#content-table	{
	font-size: 10px;
	line-height: 0px;
	}
#content-table th.sized	{
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 10px;
	line-height: 0px;
	}
 
	
#content-table-inner	{
	font-size: 12px;
	line-height: 12px;
	padding: 10px 0 20px 0;
	}
#tbl-border-top	{
	background: url(../images/shared/border_bit.jpg) top repeat-x;
	line-height: 0;font-size: 10px;
	height: 15px;
	}
#tbl-border-bottom	{
	background: url(../images/shared/border_bit.jpg) bottom repeat-x;
	line-height: 0;font-size: 10px;
	height: 15px;
	}
#tbl-border-left	{
	background: url(../images/shared/border_bit.jpg) left repeat-y;
	}
#tbl-border-right	{
	background: url(../images/shared/border_bit.jpg) right repeat-y;
	}
#table-content	{
	line-height: 16px;
	margin: 0 10px 10px 10px;
	min-height: 300px;
	}
	
.topleft {
background: url(../images/shared/corner_top_left.jpg) no-repeat;
width:15px;
height:15px;
	
}	
.topright {
background: url(../images/shared/corner_top_right.jpg) no-repeat;
width:15px;
height:15px;
	
}	

.bottomleft {
background: url(../images/shared/corner_bottom_left.jpg)  no-repeat;
width:15px;
height:15px;
	
}	
.bottomright {
background: url(../images/shared/corner_bottom_right.jpg)  no-repeat;
width:15px;
height:15px;
	
}	

#page-heading{
	margin: 0 0 5px 20px;
	}
	
h1	{
    color: #4B4B4B;
    font: bold 10pt tahoma;    
	}
	
h2	{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	}
	
h3	{
	color: #92b22c;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
	}
	
	
/* MESSAGES --------------------------------------------------------------- */	
#message-yellow	{
	margin-bottom: 5px;
	}
.yellow-left	{
	background: url(../images/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.yellow-left a	{
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.yellow-right a	{
	cursor: pointer;
	}
.yellow-right	{
	width: 55px;
	}
#message-blue	{
	margin-bottom: 5px;
	float: right;
	}
.blue-left	{
	background: url(../images/table/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	font-size: 8pt;
	}
.blue-left a	{
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.blue-right a	{
	cursor: pointer;
	}
.blue-right	{
	width: 55px;
	}
#message-red	{
	margin-bottom: 5px;
	}
.red-left	{
	background: url(../images/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.red-left a	{
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.red-right a	{
	cursor: pointer;
	}
.red-right	{
	width: 55px;
	}
#message-green	{
	margin-bottom: 5px;
	}
.green-left	{
	background: url(../images/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	}
.green-left a	{
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.green-right a	{
	cursor: pointer;
	}
.green-right	{
	width: 55px;
	}	
	
	
	
	
	
	
	
	
a.icon-1	{
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-1	{
	background: url(../images/table/table_icon_1.gif) 0 -24px;
	}
a.icon-2	{
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-2	{
	background: url(../images/table/table_icon_2.gif) 0 -24px;
	}
a.icon-3	{
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-3	{
	background: url(../images/table/table_icon_3.gif) 0 -24px;
	}
a.icon-4	{
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-4	{
	background: url(../images/table/table_icon_4.gif) 0 -24px;
	}
a.icon-5	{
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
a:hover.icon-5	{
	background: url(../images/table/table_icon_5.gif) 0 -24px;
	}
.tooltip{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;        
	}
.tooltip h6, .tooltip div	{
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	}
#product-table	{
	margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
	}
#product-table	td a	{
	color: #393939;
	}
#product-table	td a:hover	{
	text-decoration: underline;
	}
#product-table	th	{
        background: #666666;
        color: white;
	height: 25px;
	text-align: left;
        padding: 5px 0 5px 5px;
	}
#product-table	.minwidth-1	{
	/*min-width: 110px;*/
	}
#product-table td	{
	border: 1px solid #d2d2d2;
	padding: 5px 0 5px 5px;
        text-align: center;
	}
#product-table tr.alternate-row	{
	background: #ececec;
	}

.table-header-check	{
	background: url(../images/table/table_header_checkbox.jpg) no-repeat;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
	}
.table-header-options	{
	background: url(../images/table/table_header_options.jpg) no-repeat;
	border: none;
	min-width: 221px;
	padding: 0px 0 0 0;
	width: 221px;
	}
.table-header-repeat	{
	background: url(../images/table/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 10px;
	line-height: 0;
	padding: 0px 0 0 0;
	}
.table-header-options a,
 .table-header-repeat a	{
	background: url(../images/table/table_sort_arrow.gif) right no-repeat;
	color: #fff;
	font-family: Tahoma;
	/*font-size: 13px;*/
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
	}
	
	.table-header-options a:hover,
 .table-header-repeat a:hover	{
	
	color:#94b52c
	}
	
th.line-left	{
	border-left: 1px solid #373737;
	}
#product-table	tr.activity-blue	{
	background: #e3eceb;
	}
	
	#toggle-all {
		display: block;
		width: 17px;
		height:17px;
		cursor: pointer;
		background: url(../images/shared/checkbox.gif) 0 -17px;
	}
	
		#toggle-all.toggle-checked {
		display: block;
		width: 17px;
		height:17px;
		background: url(../images/shared/checkbox.gif) 0 0;
	}
	
/*  RELATED ACTIVIES BOX */	

#related-activities	{
	float: right;
	font-size: 10px;
	line-height: 0;
	width: 271px;
	}
#related-act-top	{
	font-size: 10px;
	line-height: 0;
	}
#related-act-bottom	{
	background: url(../images/form/bg_related_act.gif) no-repeat bottom;
	font-size: 10px;
	line-height: 0;
	}
#related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
	}
#related-act-inner .left	{
	float: left;
	width: 30px;
	}
#related-act-inner .right	{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
	}
#related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url(../images/form/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
	}
ul.greyarrow li a	{
	color: #92b22c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
	}
.lines-dotted-short	{
	background: url(../images/form/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 10px;
	height: 28px;
	line-height: 0;
	}
	
/* PAGING --------------------------------------------------------- */	

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}	
.page-far-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
	}
.page-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
.page-far-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
	}
.page-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
#page-info	{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
	}
	
/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box	{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	}
a.action-slider	{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}
a.action-slider.activated	{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
	}
#actions-box-slider	{
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
	}
#actions-box-slider-inner	{
	font-size: 10px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
	}
a.action-edit ,
a.action-delete	{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
	}
a:hover.action-edit	{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
	}
a.action-edit	{
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	}
a.action-delete	{
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	}
a:hover.action-delete	{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
	}
		 
	
/* FORM ------------------------------------------------------- */	
.form-submit	{
	background: url(../images/form/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
	width: 80px;
	}
.form-reset	{
	background: url(../images/form/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
	}
#id-form	{
	}
.inp-form	{
	background: url(../images/form/form_inp.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
 
	padding: 6px 6px 0 6px;
	width: 186px;
	}
	
.inp-form-error	{
	background: url(../images/form/form_inp_error.gif) no-repeat;
	border: none; 
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 187px;
	}
.form-textarea	{
	background: url(../images/form/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 378px;
	}
#id-form td	{
	padding: 0 0 10px 0;
	}
#id-form td.noheight	{
	padding: 0 0 0px 0;
	}
#id-form th {
    line-height: 28px;
    min-width: 130px;
    padding: 0 0 10px;
    text-align: left;
    width: 130px;
    font: bold 8pt Tahoma;
    vertical-align: middle
}
.styledselect-day ,
.styledselect-month ,
.styledselect-year	{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
	}
	
	
#step-holder {
font-family: Tahoma;
	height:39px;
	margin-bottom: 20px;
}	




.step-no {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url(../images/form/step_dark_left.gif) no-repeat;
	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url(../images/form/step_dark_right.gif) no-repeat;
	height:39px;
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/form/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float:left;
	 	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/form/step_light_left.gif) no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold;
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url(../images/form/step_light_right.gif) no-repeat;
	height:39px;
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/form/step_light_round.gif) no-repeat;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/form/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(../images/form/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/form/bubble_right.gif) right no-repeat;
}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url(../images/form/error_left.gif) no-repeat;
}

.error-inner {
	float:left;
	padding: 7px 10px 0 4px;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url(../images/form/error_right.gif) right  no-repeat;
}
.file_1 {
	border: 1px solid #acacac;
	padding: 5px;
}	

#top-right	{
	float: right;
	/*padding-top: 43px; */
	/*padding-bottom: 5px;*/
	padding-right: 5px;	
	font: bold 11pt arial;
       
	/*width: 140px;*/	
	}

.buttonTema {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	float: right;	
}.buttonTema:hover {
	background-color:#dfdfdf;
}.buttonTema:active {
	position:relative;
	top:1px;
}
 
/*  NAVIGATION ----------------------------------------------- */
#nav-holder	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
	}
.nav-outer-repeat	{
	
        background: #414141;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NCUiIHN0b3AtY29sb3I9IiM0MTQxNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGEwYTBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(top,  #414141 44%, #0a0a0a 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#414141), color-stop(100%,#0a0a0a));
        background: -webkit-linear-gradient(top,  #414141 44%,#0a0a0a 100%);
        background: -o-linear-gradient(top,  #414141 44%,#0a0a0a 100%);
        background: -ms-linear-gradient(top,  #414141 44%,#0a0a0a 100%);
        background: linear-gradient(top,  #414141 44%,#0a0a0a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#0a0a0a',GradientType=0 );
	height: 33px;
        border-bottom: 5px solid #A5151E;
	}
.nav-outer	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	}	
#nav-right	{
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
	}
#nav-right a	{
	display: block;
	float: left;
	margin: 0px 0 0 0;
	}
.account-content	{
	background: #454545 url(../images/shared/nav/account_drop_bg.gif) no-repeat bottom;
	display: none;
	/*left: 5px;*/
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
	}
.account-drop-inner	{
	font-size: 10px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
	}
.showhide-account	{
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
        color: white;
        font-size: 13px;
        font-family: Tahoma;
        line-height: 15px;
	}
.account-drop-inner a	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
.account-drop-inner a:hover	{
	color: #94b52c;
	}
.acc-line	{
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 10px;
	height: 14px;
	line-height: 0px;	
	padding: 0;
	}
a#logout	{
	margin: 10px 0 0 5px;
	}
a#acc-settings	{
	background: url(../images/shared/nav/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-details	{
	background: url(../images/shared/nav/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-project	{
	background: url(../images/shared/nav/icon_acc_projects.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-inbox	{
	background: url(../images/shared/nav/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-stats	{
	background: url(../images/shared/nav/icon_acc_stats.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

.nav	{
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	height: 38px;
	position: relative;
	width: 700px;
	min-width: 700px;
	z-index: 500;
	}
.nav-divider	{
	/*background: url(../images/shared/nav/divider.jpg) top no-repeat;*/
background: rgb(68,68,68);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(68,68,68,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000',GradientType=0 );


	float: left;
	height: 37px;
	width: 2px;
        padding-top: 2px;
	}
.nav .table	{
	display: table;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	/*background: url(../images/shared/nav/pro_line_0.gif);*/
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	display: block;
	padding: 0 20px 0 10px;
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	cursor: pointer;
	padding: 0 0 0 10px;
	}
.nav .select a:hover b, 
.nav .select li:hover a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 20px 0 10px;
	}
.nav .select_sub	{
	display: none;
	margin: 0 0 0 10px;
	}

/* IE6 only */
.nav table	{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover	{
	background: transparent;
	color: #fff;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url(../images/shared/nav/back_0.gif);
	 
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 750px;
	z-index: 100;
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: transparent;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
	}
.nav .current .sub li.sub_show a	{
	/*background: url(../images/shared/nav/back_1.gif);*/
	color: #94b52c;
	cursor: default;
	}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover	{
	/*background: url(../images/shared/nav/back_1.gif);*/
	color: #94b52c;
	visibility: visible;
	}

/* FOOTER -------------------------------------------------------------- */ 
#footer	{
	/*height: 70px;*/	 
	margin: 0px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: center;
	/*min-width: 780px;
	max-width: 1260px;        */
	}
#footer-left	{
	color: #FFFFFF;	 
	font-size: 11px;
	line-height: 11px;
	padding: 10px 0 10px 25px;
	border-top: 5px solid #A5151E;
	border-bottom: 1px solid #dbdbdb;
	background: #2A2A2A;        
	/*background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;*/
	} 
#footer-left a	{
	color: #FFFFFF;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}
	
 a { 	
 	color: #777777;
	text-decoration: none;
 }
 a:hover{
 	color: #777777;
	text-decoration: underline;
 }
 
 
/* GENERAL --------------------------------------------------------*/ 
 table	{
	border-collapse: collapse;
	padding: 0;
	border: 0;
	}
.fr	{
	float: right;
	}
a	{
	outline: none;
	text-decoration: none;
	}
a:hover	{
	}
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
img	{
	border: 0;
	}
p	{
	margin: 0px;
	padding: 0px;
	}
form	{
	margin: 0;
	padding: 0;
	}
.line	{
	border-top: 1px solid #dcdada;
	font-size: 10px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
	}
.font11	{
	font-size: 11px;
	}



 
 
 
 
 
 
 
 
 
 
 
 
 
 
/*  STYLED SELECTBOXES style 1 --------------------------------- */	

.styledselect {
background: #2a2a2a;
border: 1px solid #424242;
	color:#fff;
	width:120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}

div.selectbox-wrapper	{
	background-color: #2a2a2a;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 10;
	}
div.selectbox-wrapper ul	{
	list-style-type: none;
	 
	margin: 0px;
	padding: 0px;z-index: 10;
	}
div.selectbox-wrapper ul li.selected	{
	background-color: #575757;
	color: #fff;
	}
div.selectbox-wrapper ul li.current	{
	background-color: #575757;
	}
div.selectbox-wrapper ul li	{
	border-bottom: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.selectbox_styled	{
	background: url(../images/shared/top_search_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0 0 6px;
	text-align: left;
	width: 105px;
	z-index: 10;
	}

/*  STYLED SELECTBOXES style 2 --------------------------------- */	
div.selectbox-wrapper2	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper2 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current2	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_form_1	{
	background: url(../images/form/form_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 6px;
	text-align: left;
	width: 192px;
	}
	
#sec	{	
	/*padding: 7px 0 0 6px;*/
	width: 192px;
}
	
.styledselect_form_2	{
	background: url(../images/form/form_select_small.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 10px;
	text-align: left;
	width: 60px;
	}

	
	
/*  STYLED SELECTBOXES style 3 --------------------------------- */	
div.selectbox-wrapper3	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper3 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper3 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_pages	{
	background: url(../images/table/select_number_rows.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0 0 6px;
	text-align: left;
	width: 130px;
	}
	
	
	
	
	
 
	
/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	
.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover	{
	color: #999;
	}
span.ui-checkbox,
			span.ui-radio	{
	background: url(../images/shared/checkbox.gif) 0 -17px no-repeat;
	display: block;
	float: left;
	height: 17px;
	width: 17px;
	}
span.ui-helper-hidden	{
	display: none;
	}
span.ui-radio-state-hover,
			span.ui-checkbox-state-hover	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked-hover	{
	background-position: 0 0px;
	}
span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked	{
	background-position: 0 -161px;
	}
span.ui-radio-state-checked-hover	{
	background-position: 0 -17px;
	}
label	{
	color: red;
        padding: 2px;	
	}
.ui-helper-hidden-accessible	{
	left: -999em;
	position: absolute;
	}
	

	
.Botao	{
	margin-top:10px;
	margin-bottom:10px;
	cursor: pointer;
	height: 29px;
	width: 73px;
	border:none;
	font-family:"Agency FB";
	font-size: 13px;
	color: #000;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	}
		
.Botao:hover	{
	margin-top:10px;
	margin-bottom:10px;
	border:none;
	font-family: Arial,sans-serif;
	font-size: 1em;
	color: #000;
	padding: 5px 10px;
	background: -moz-linear-gradient(
			top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

	/*background: url(../images/login/submit_login.gif) no-repeat 0 -29px;*/
}
 /*Tabela Consulta Frete*/
.menulista {
    background-color:#FFF;
    cursor:pointer;
}

.menulista:hover {
        background:#D9ECFF;
}
.listacarta {
border-color:#EEEEEE;
border-style:solid;
border-width:1px;
padding:2px;
}

.listacarta:hover {
        background:#D9ECFF;
}

.listapedido:hover {
        background:#D9ECFF;
}

.textocartafrete {
    padding-top:3px;
    color:#808080;
}
.statcarta {
    border-color:#CCC; 
    border-style:dashed; 
    border-width:1px;
    padding-top:5px;
}
.td-right{
    text-align: right;
}
#controle{
    float: right; 
    margin-right: 15px; 
    font-size: 11px; 
    color: black; 
    line-height: 11px; 
}
#dialog{
        width: 320px; 
        height: 60px;
        margin-left:-150px;
        margin-top: 0px;            
}
.pop-up{
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-250px;
        margin-top:-100px;
        padding:10px;
        width:500px;
        height:200px;
        border:1px solid #d0d0d0;
        background: white;
}
.aguarde{
    width: 320px; 
    height: 60px;
    margin-left:-150px;
    margin-top: 0px;            
}
/* Tela de Login Index.php */

#login-bg	{
	background: #333333;
	
	}


* {margin: auto;padding: 0;}
  
p {margin:0px; padding:0px;}
 
a img{border: 0px;}

.left{float:left;}

.clear{clear:both;}

.right{float:right;}

:focus{outline:none;}
 
a {text-decoration:none;cursor:pointer;}


/* Form Style Starts Here */

#main_body {width:526px;margin-top:200px;text-align:left;height:295px;background:url(../imagens/form_BG.png) no-repeat left;padding:20px 0px 0px 43px }

.form_title{width:156px;text-align:left;margin-left:0px;}

.form_box{padding-top:65px;color:#ffffff;font-size:12px;}

.form_text{color:#fffff;font-size:14px;float:left;padding-top:16px;}

.form_input_BG{width:259px; background:url(../imagens/form_input.png) center left no-repeat; margin-left:30px;border:0px;height:42px;float:left;}

.form_input_BG input[type="text"]{margin:5px 0px 0px 5px;border:none;width:220px;background:none;}
.form_input_BG input[type="password"]{margin:5px 0px 0px 5px;border:none;width:220px;background:none;}
 
.form_check_box{margin-left:243px;margin-top:7px;}

.form_login_signup_btn input{margin-left:25px;margin-top:23px;}
.submit-login	{
	cursor: pointer;
	height: 29px;
	width: 73px;
	border:none;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #000;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	}
		
.submit-login:hover	{
	border:none;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #000;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

	}